<%# Shows the word and the user who entered it %>
<h2>Definition: <%= @definition.definition %></h2>
<h2>Word: <%= @definition.definition %></h2>

<%# Form for entering a defintion and posting it. %>
<form action="/words/<%= @definition.word_id %>/definitions/<%= @definition.definition_id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Update Definition</label>
  <label for="definition">Edit your defition here:</label>
  <textarea rows= "5" id="definition" name="definition" class="form-control" type="text"></textarea>
  <button type="submit">Update Definition</button>
</form>

<%# Button for deleting definitions. Currently non-functional as it needs the delete funtion added to app.rb %>
<form action="/words/<%= @definition.word_id %>/definitions/<%= @definition.definition_id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Definition</button>
</form>

